@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@theme {
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Playfair Display', serif;
}
@import "./components.css";
@import "./utilities.css";
@source inline('icon-[{carbon--logo-facebook,carbon--logo-instagram,carbon--logo-youtube,ic--round-tiktok}]');

@plugin "@iconify/tailwind4" {
    scale: 1.2;
}
@plugin "@iconify/tailwind4" {
    prefix: "icon-over";
    override-only: true;
    scale: 1.2;
}

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

