<div class="container">
    <div class="flex-center">
        <div class="text-h1 text-red-500">
            <span>Frenchie pour toi</span>
        </div>
    </div>

    <div class="flex-center">Photo:</div>

    <h1>Mon application</h1>
    <button (click)="toggleDarkMode()" class="btn btn-primary">Basculer Mode Sombre</button>
    <p>Le mode sombre est {{ isDark() ? 'activé' : 'désactivé' }}</p>

    <div class="bg-red-500">
        <div class="flex-center">
            <app-cloudinary-image
                publicId="logo_l4z9mp"
                [isPriority]="true"
                [width]="300"
                [height]="300"
                class="bg-blue-500"
            />
        </div>
    </div>

    <i class="icon-mdi:wrench-clock-outline text-giga text-gray-600"></i>
    <i class="icon-[carbon--arrow-up-right] group-hover:icon-over-[carbon--arrow-right]"></i>
    <span class="icon-[carbon--accessibility]"></span>

    <router-outlet />
</div>
