<div class="container">
  <div class="flex-center">
    <div class="text-h1 text-red-500">
      <span>Frenchie pour toi</span>
    </div>
  </div>

  <div class="flex-center">
    Photo:
  </div>

  <app-cloudinary-image
        publicId="frenchie-hero_lyekts"
        [widths]="[400, 800, 900]"
        alt="Une autre image de chiot"
        [sizes]="'25vw'"
      />

      <i class="icon-mdi:wrench-clock-outline text-giga text-gray-600" ></i>
      <i class="icon-[carbon--arrow-up-right] group-hover:icon-over-[carbon--arrow-right]"></i>
      <span class="icon-[carbon--accessibility]"></span>

  <router-outlet />
</div>
