<header role="banner" class="bg-base-100 fixed inset-x-0 top-0 z-50 backdrop-blur-sm">
    <div class="flex-between container pointer-events-none h-16 bg-red-100 px-4">
        <a [routerLink]="routes.home.path" class="flex">
            <app-cloudinary-image
                publicId="logo_l4z9mp"
                [isPriority]="true"
                [width]="60"
                [height]="60"
                alt="Logo"
            />
        </a>

        <nav role="navigation" aria-label="Navigation principale">
            <ul class="flex space-x-4">
                @for (item of navItems; track item.path) {
                    <li>
                        <a [routerLink]="item.path" class="text-primary">
                            {{ item.label }}
                        </a>
                    </li>
                }
            </ul>
        </nav>

        <div class="pointer-events-auto flex items-center justify-end gap-4 text-base">
            <button
                class="btn btn-ghost btn-sm"
                (click)="toggleDarkMode()"
                aria-label="Toggle dark mode"
            >
                <span class="icon-[carbon--sun] dark:icon-[carbon--moon] text-xl"></span>
            </button>

            <button
                class="btn btn-ghost btn-sm font-semibold"
                (click)="switchLanguage()"
                aria-label="Switch language"
            >
                @if (currentLocale === 'fr') {
                    <span>EN</span>
                } @else {
                    <span>FR</span>
                }
            </button>
        </div>
    </div>
</header>
