<header role="banner" class="bg-base-100/90 fixed inset-x-0 top-0 z-50 backdrop-blur-sm">
    <div class="flex-between container pointer-events-none h-16 bg-red-100 px-4">
        <a [routerLink]="routes.home.path" class="pointer-events-auto flex">
            <app-cloudinary-image
                publicId="logo_l4z9mp"
                [isPriority]="true"
                [width]="60"
                [height]="60"
                alt="Logo"
            />
        </a>

        <app-desktop-nav [navItems]="navItems" class="bg-pink-400"></app-desktop-nav>

        <div class="flex-end pointer-events-auto gap-4 text-2xl">
            <app-mobile-nav [navItems]="navItems"></app-mobile-nav>

            <label class="swap swap-rotate">
                <input type="checkbox" [checked]="isDark()" (change)="toggleDarkMode()" />
                <span class="icon-[carbon--moon] swap-on text-xl"></span>
                <span class="icon-[carbon--sun] swap-off text-xl"></span>
            </label>

            <label class="swap text-base">
                <input
                    type="checkbox"
                    [checked]="currentLocale === Language.FR"
                    (change)="switchLanguage()"
                />
                <span class="swap-on">FR</span>
                <span class="swap-off">EN</span>
            </label>
        </div>
    </div>
</header>
